:root {
    --font: 'Libre Franklin', sans-serif;
    --accent-color: rgb(238, 80, 7);
    --background-accent: rgb(251, 250, 245);
    --display-background: rgb(247, 235, 218);
    --header-background: rgb(160, 159, 159);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
    font-weight: 200;
}

a {
    text-decoration: none;
    color: inherit;;
}

body {
    height: 100vh;
    background-image: linear-gradient(var(--display-background), var(--header-background), var(--display-background));
}

/* Header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    font-size: 1.75rem;
    gap: 2rem;
}

#title {
    font-weight: 400;
}

#form,
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

#search {
    height: 2.5rem;
    width: 15rem;
    border-radius: 8px;
    border: solid 1px black;
    padding-left: 0.75rem;
    font-size: 1rem;
    border: none;
}

.error {
    display: none;
    font-size: 1rem;
    padding: .5rem 1rem;
}

.error.active{
    display: flex;
    justify-content: flex-start;
}

.submit-button {
    padding: .5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background-color: var(--accent-color);
    transition: .75s;
    opacity: 0.6;
}

.submit-button:hover {
    opacity: 1;
    transition: .75s;
}

#submit {
    cursor: pointer;
    color: white;
    font-size: 1.75rem;
}

textarea:focus, 
input:focus{
    outline: none;
}

/* Body */

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 17.656rem);
}

/* Weather */

.weather {
    animation: fadeIn 2s;
    animation-iteration-count: infinite;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    padding: 2rem;
    box-shadow: rgba(147, 147, 147, 0.35) 0rem .3125rem 1rem;
    background-color: var(--background-accent);
    margin-bottom: 7rem;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }



#degree {
    padding: .5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    background-color: var(--accent-color);
    color: white;
    transition: .75s;
    font-weight: 300;
    opacity: 0.6;
}

#degree:hover {
    opacity: 1;
    transition: .75s;
}

.main-view {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.main-view > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-view > div > .main {
    font-size: 5rem;
}

.details-view {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
    width: 100%;
}

.details-view > div > h3:first-child {
    color: var(--accent-color);
    font-weight: 300;
}

.temp-scale {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
}