:root {
    --font: 'Libre Franklin', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
    font-weight: 200;
}

a {
    text-decoration: none;
    color: inherit;;
}

body {
    height: 100vh;
}

/* Header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem 0;
    font-size: 1.75rem;
    gap: 2rem;
}

#title {
    font-weight: 400;
}

#form {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem 1rem;
}

#search {
    height: 2.5rem;
    width: 15rem;
    border-radius: 8px;
    border: solid 1px black;
    padding-left: 0.75rem;
    font-size: 1rem;
}

#submit {
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

textarea:focus, 
input:focus{
    outline: none;
}

/* Body */

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 15.156rem);
}

/* Weather */

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 0.75rem;
    padding: 2rem;
}

#degree {
    padding: .5rem;
    border-radius: 50%;
    border: solid black 1px;
    font-size: 1rem;
    cursor: pointer;
}

.main-view {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.main-view > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-view > div > .main {
    font-size: 5rem;
}

.details-view {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
    width: 100%;
}

.temp-scale {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
/* Footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
}