* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;;
}

body {
    height: 100vh;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.body {
    min-height: calc(100vh - 98.5px)
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}